<div class="col start-stretch">

  <div class="row center-stretch w-full">
    <div class="col center-stretch max_content_w py-4">
      <div class="col center-center p-4">
        <span class="title">Stocks</span>
      </div>
      <div class="card col start-stretch overflow-x-auto" style="max-height: 400px;">
        <table class="data-table">
          <thead>
            <tr>
              <th width="5%" style="text-align: center;">&middot;</th>
              <th width="30%">
                Stock
                <span (click)="sortStocks('Stock', 'asc')" class="sort-control">&#x25b4;</span>
                <span (click)="sortStocks('Stock', 'desc')" class="sort-control">&#x25be;</span>
              </th>
              <th width="25%">
                Industry
                <span (click)="sortStocks('Industry', 'asc')" class="sort-control">&#x25b4;</span>
                <span (click)="sortStocks('Industry', 'desc')" class="sort-control">&#x25be;</span>
              </th>
              <th width="25%">
                Sector
                <span (click)="sortStocks('Sector', 'asc')" class="sort-control">&#x25b4;</span>
                <span (click)="sortStocks('Sector', 'desc')" class="sort-control">&#x25be;</span>
              </th>
              <th width="15%">
                Curr. Code
                <span (click)="sortStocks('Currency Code', 'asc')" class="sort-control">&#x25b4;</span>
                <span (click)="sortStocks('Currency Code', 'desc')" class="sort-control">&#x25be;</span>
              </th>
            </tr>
            <tr>
              <th width="5%"></th>
              <th colSpan="4">
                <input [formControl]="searchControl" style="width: 30%;" type="search" class="search-bar"
                  placeholder="Type to search" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="hoverable" *ngFor="let stock of filteredStocks">
              <td width="5%">
                <input id="checkbox{{stock.id}}" type="checkbox" [(ngModel)]="stock.selected"
                  (change)="filterStockValues(stock.id, stock.selected)" />
              </td>
              <td width="25%">
                {{ stock.stock }}
              </td>
              <td width="25%">
                {{ stock.industry }}
              </td>
              <td width="25%">
                {{ stock.sector }}
              </td>
              <td width="20%">
                {{ stock.currency_code }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="selectedStock" class="row center-stretch w-full">
    <div class="col center-stretch max_content_w py-4">
      <div class="col center-center p-4">
        <span class="title">{{ selectedStock.stock }} - Stock Values</span>
      </div>
      <div class="card col start-stretch overflow-x-auto" style="max-height: 400px;">
        <table class="data-table">
          <thead>
            <tr>
              <th width="53%">
                Stock
              </th>
              <th width="23%">
                Date
                <span (click)="sortStockValues('Date', 'asc')" class="sort-control">&#x25b4;</span>
                <span (click)="sortStockValues('Date', 'desc')" class="sort-control">&#x25be;</span>
              </th>
              <th width="23%" style="text-align: end !important;">
                Value
                <span (click)="sortStockValues('Value', 'asc')" class="sort-control">&#x25b4;</span>
                <span (click)="sortStockValues('Value', 'desc')" class="sort-control">&#x25be;</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stockValue of filteredStockValues">
              <td width="25%">{{ selectedStock.stock }}</td>
              <td width="25%">{{ stockValue.date }}</td>
              <td width="25%" class="text-end">{{ stockValue.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col center-end py-4">
        <a [href]="exportJsonUri" download="download_stock_values.json" title="Export as JSON"
          class="export-button">Export as JSON</a>
      </div>
    </div>
  </div>

  <div *ngIf="!selectedStock" class="row center-stretch w-full">
    <div class="col center-stretch max_content_w py-4">
      <div class="col center-start p-4">
        <span class="title" style="color: rgba(0, 0, 0, .24)">No stock selected</span>
      </div>
    </div>
  </div>

</div>
